<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .navbar a:hover {
        background-color: rgba(134, 134, 134, 0.194);
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body
    class="bg-zinc-950 text-white overflow-x-hidden flex flex-col min-h-screen justify-center items-center"
  >
    <h1 class="text-2xl text-center">Edit Profile</h1>
    <form action="/edit/<%= userId %>" method="post">
      <div class="flex flex-col gap-5 w-80 mx-auto mt-10">
        <input
          type="text"
          name="username"
          id="username"
          placeholder="Username"
          class="bg-zinc-800 px-3 py-2 rounded-md outline-none"
          value="<%= username %>"
        />
        <input
          type="text"
          name="bio"
          id="bio"
          placeholder="Bio"
          class="bg-zinc-800 px-3 py-2 rounded-md outline-none"
          value="<%= bio %>"
        />
        <input
          type="text"
          name="website"
          id="website"
          placeholder="Website"
          class="bg-zinc-800 px-3 py-2 rounded-md outline-none"
          value="<%= website %>"
        />
        <button type="submit" class="bg-blue-600 px-3 py-2 rounded-md">
          Save
        </button>
      </div>
    </form>
  </body>
</html>
