<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="form-container h-screen w-screen bg-zinc-950 flex items-center justify-center text-white flex-col gap-4">
            <form action="/login" method="post" class='h-96 w-80 bg-zinc-950 p-4 border border-zinc-600 flex justify-center flex-col gap-8'>
                <div>
                    <h1 class='text-3xl text-center'>Instagram</h1>
                </div>
                <div class="flex flex-col gap-2 items-center">
                    <input type="email" name="email" class='w-full bg-zinc-900 border border-zinc-600 p-2 focus:outline-none'placeholder='Email'/>
                    <input type="password" name="password" class='w-full bg-zinc-900 border border-zinc-600 p-2 focus:outline-none' placeholder='Password'/>
                    <button class='bg-blue-600 p-2 w-full rounded-md'>Log in</button>
                </div>
                <div class="h-16 flex flex-col gap-2 items-center justify-center">
                    <div class="w-full flex items-center gap-2">
                        <div class="w-1/2 bg-zinc-600 h-1"></div>OR<div class="w-1/2 bg-zinc-600 h-1"></div>
                    </div>
                    <h2 class='text-blue-700 text-center text-lg'>Login in with Facebook</h2>
                    <p class='text-center'>Forgot Password?</p>
                </div>
            </form>
            <div class="p-4 w-80 border border-zinc-600 flex justify-center">
                <h1>Don't have an account?
                    <a href="/signup"><span class='text-blue-600'> Sign up</span></a>
                </h1>
            </div>
            <div class="mt-10">
                <h1 class='text-zinc-600 text-center'>Meta About Blog Jobs Help API Terms Locations Instagram Lite Threads Contact Uploading & Non-Users Meta Verified</h1>
                <h1 class='text-zinc-600 text-center'>English &copy; 2025 Instagram from Meta</h1>
            </div>
        </div>
</body>
</html>